.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  max-height: 5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding: 0 0 1rem 0;
  text-align: center;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 640px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  /* margin: 1rem; */
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  min-width: 200px;
  min-height: 100px;
}

.graph {
  /* margin: 1rem; */
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 640px;
  min-height: 600px;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
  }
} */
